1-WSDL/ISBMChannelManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.openoandm.org/xml/ISBM/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	targetNamespace="http://www.openoandm.org/xml/ISBM/"
	name="ISBMChannelManagementService">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
			<!-- Types -->

			<xs:simpleType name="ChannelType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Publication"/>
					<xs:enumeration value="Request"/>
					<xs:enumeration value="Response"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Channel">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="tns:ChannelType"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ChannelDescription" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="TopicName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Topic">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="TopicName" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="TopicDescription" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<!-- Parameter elements -->

			<xs:element name="CreateChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="tns:ChannelType"/>
						<xs:element minOccurs="0" maxOccurs="1" name="ChannelDescription" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" ref="wsse:SecurityTokenReference"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateChannelResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="CreateTopic">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="TopicName" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="TopicDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTopicResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="AddSecurityTokens">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" ref="wsse:SecurityTokenReference"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddSecurityTokensResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="RemoveSecurityTokens">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" ref="wsse:SecurityTokenReference"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveSecurityTokensResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="DeleteChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteChannelResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="DeleteTopic">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="TopicName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteTopicResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="GetChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetChannelResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Channel" type="tns:Channel"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetChannels">
				<xs:complexType/>
			</xs:element>
			<xs:element name="GetChannelsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" type="tns:Channel"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTopics">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTopicsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Topic" type="tns:Topic"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<!-- Fault elements -->

			<xs:element name="ChannelFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DuplicateChannelURIFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidSecurityTokenFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidTopicFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateChannelIn">
		<wsdl:part name="parameters" element="tns:CreateChannel"/>
	</wsdl:message>
	<wsdl:message name="CreateChannelOut">
		<wsdl:part name="parameters" element="tns:CreateChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateTopicIn">
		<wsdl:part name="parameters" element="tns:CreateTopic"/>
	</wsdl:message>
	<wsdl:message name="CreateTopicOut">
		<wsdl:part name="parameters" element="tns:CreateTopicResponse"/>
	</wsdl:message>
	<wsdl:message name="AddSecurityTokensIn">
		<wsdl:part name="parameters" element="tns:AddSecurityTokens"/>
	</wsdl:message>
	<wsdl:message name="AddSecurityTokensOut">
		<wsdl:part name="parameters" element="tns:AddSecurityTokensResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoveSecurityTokensIn">
		<wsdl:part name="parameters" element="tns:RemoveSecurityTokens"/>
	</wsdl:message>
	<wsdl:message name="RemoveSecurityTokensOut">
		<wsdl:part name="parameters" element="tns:RemoveSecurityTokensResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelIn">
		<wsdl:part name="parameters" element="tns:DeleteChannel"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelOut">
		<wsdl:part name="parameters" element="tns:DeleteChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteTopicIn">
		<wsdl:part name="parameters" element="tns:DeleteTopic"/>
	</wsdl:message>
	<wsdl:message name="DeleteTopicOut">
		<wsdl:part name="parameters" element="tns:DeleteTopicResponse"/>
	</wsdl:message>
	<wsdl:message name="GetChannelIn">
		<wsdl:part name="parameters" element="tns:GetChannel"/>
	</wsdl:message>
	<wsdl:message name="GetChannelOut">
		<wsdl:part name="parameters" element="tns:GetChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="GetChannelsIn">
		<wsdl:part name="parameters" element="tns:GetChannels"/>
	</wsdl:message>
	<wsdl:message name="GetChannelsOut">
		<wsdl:part name="parameters" element="tns:GetChannelsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTopicsIn">
		<wsdl:part name="parameters" element="tns:GetTopics"/>
	</wsdl:message>
	<wsdl:message name="GetTopicsOut">
		<wsdl:part name="parameters" element="tns:GetTopicsResponse"/>
	</wsdl:message>
	<wsdl:message name="ChannelFault">
		<wsdl:part name="parameters" element="tns:ChannelFault"/>
	</wsdl:message>
	<wsdl:message name="DuplicateChannelURIFault">
		<wsdl:part name="parameters" element="tns:DuplicateChannelURIFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidSecurityTokenFault">
		<wsdl:part name="parameters" element="tns:InvalidSecurityTokenFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidTopicFault">
		<wsdl:part name="parameters" element="tns:InvalidTopicFault"/>
	</wsdl:message>

	<wsdl:portType name="ISBMChannelManagementService">
		<wsdl:operation name="CreateChannel">
			<wsdl:documentation>Creates a new channel.</wsdl:documentation>
			<wsdl:input message="tns:CreateChannelIn"/>
			<wsdl:output message="tns:CreateChannelOut"/>
			<wsdl:fault name="DuplicateChannelURIFault" message="tns:DuplicateChannelURIFault"/>
		</wsdl:operation>
		<wsdl:operation name="CreateTopic">
			<wsdl:documentation>Creates a new topic on a channel.</wsdl:documentation>
			<wsdl:input message="tns:CreateTopicIn"/>
			<wsdl:output message="tns:CreateTopicOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="AddSecurityTokens">
			<wsdl:documentation>Adds security tokens to a channel.</wsdl:documentation>
			<wsdl:input message="tns:AddSecurityTokensIn"/>
			<wsdl:output message="tns:AddSecurityTokensOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<wsdl:documentation>Removes security tokens from a channel.</wsdl:documentation>
			<wsdl:input message="tns:RemoveSecurityTokensIn"/>
			<wsdl:output message="tns:RemoveSecurityTokensOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
			<wsdl:fault name="InvalidSecurityTokenFault" message="tns:InvalidSecurityTokenFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<wsdl:documentation>Deletes an ISBM channel.</wsdl:documentation>
			<wsdl:input message="tns:DeleteChannelIn"/>
			<wsdl:output message="tns:DeleteChannelOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteTopic">
			<wsdl:documentation>Deletes a topic from a channel.</wsdl:documentation>
			<wsdl:input message="tns:DeleteTopicIn"/>
			<wsdl:output message="tns:DeleteTopicOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
			<wsdl:fault name="InvalidTopicFault" message="tns:InvalidTopicFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetChannel">
			<wsdl:documentation>Gets information about a channel.</wsdl:documentation>
			<wsdl:input message="tns:GetChannelIn"/>
			<wsdl:output message="tns:GetChannelOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetChannels">
			<wsdl:documentation>Gets all ISBM channels.</wsdl:documentation>
			<wsdl:input message="tns:GetChannelsIn"/>
			<wsdl:output message="tns:GetChannelsOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetTopics">
			<wsdl:documentation>Gets all topics for a channel.</wsdl:documentation>
			<wsdl:input message="tns:GetTopicsIn"/>
			<wsdl:output message="tns:GetTopicsOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ISBMChannelManagementServiceSoap" type="tns:ISBMChannelManagementService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateChannel">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DuplicateChannelURIFault">
				<soap:fault name="DuplicateChannelURIFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateTopic">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateTopic" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddSecurityTokens">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/AddSecurityTokens" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveSecurityTokens" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidSecurityTokenFault">
				<soap:fault name="InvalidSecurityTokenFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteTopic">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteTopic" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicFault">
				<soap:fault name="InvalidTopicFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannel">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannels">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannels" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopics">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetTopics" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ISBMChannelManagementServiceSoap12" type="tns:ISBMChannelManagementService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateChannel">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DuplicateChannelURIFault">
				<soap12:fault name="DuplicateChannelURIFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateTopic">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateTopic" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddSecurityTokens">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/AddSecurityTokens" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveSecurityTokens" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidSecurityTokenFault">
				<soap12:fault name="InvalidSecurityTokenFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteTopic">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteTopic" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicFault">
				<soap12:fault name="InvalidTopicFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannel">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannels">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannels" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopics">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetTopics" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ISBMChannelManagementService">
		<wsdl:port name="ISBMChannelManagementServiceSoap" binding="tns:ISBMChannelManagementServiceSoap">
			<soap:address location="http://localhost/ISBMChannelManagementService"/>
		</wsdl:port>
		<wsdl:port name="ISBMChannelManagementServiceSoap12" binding="tns:ISBMChannelManagementServiceSoap12">
			<soap12:address location="http://localhost/ISBMChannelManagementService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
