1-WSDL/ISBMProviderRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright MIMOSA 2012. All Rights Reserved.

	License information for this file is provided in the file "License Agreement.txt" that is provided with this download package.

	For support, more information, or to report errors, please contact MIMOSA at http://www.mimosa.org or OpenO&M at http://www.openoandm.info.
-->
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:isbm="http://www.openoandm.org/xml/ISBM/"
	targetNamespace="http://www.openoandm.org/xml/ISBM/"
	name="ISBMProviderRequestService">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/">
			<!-- Types -->

			<xs:element name="MessageContent">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="RequestMessage">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
					<xs:element minOccurs="1" maxOccurs="1" name="Topic" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Namespace">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="NamespacePrefix" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="NamespaceName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<!-- Parameter elements -->

			<xs:element name="OpenProviderRequestSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" name="Topic" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="ListenerURI" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="XPathExpression" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="XPathNamespace" type="isbm:Namespace"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OpenProviderRequestSessionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="RequestMessage" type="isbm:RequestMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveRequestResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="PostResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostResponseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CloseProviderRequestSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CloseProviderRequestSessionResponse">
				<xs:complexType/>
			</xs:element>

			<!-- Fault elements -->

			<xs:element name="ChannelFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DuplicateNamespacePrefixFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidOperationFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidSessionFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="OpenProviderRequestSessionIn">
		<wsdl:part name="parameters" element="isbm:OpenProviderRequestSession"/>
	</wsdl:message>
	<wsdl:message name="OpenProviderRequestSessionOut">
		<wsdl:part name="parameters" element="isbm:OpenProviderRequestSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="ReadRequestIn">
		<wsdl:part name="parameters" element="isbm:ReadRequest"/>
	</wsdl:message>
	<wsdl:message name="ReadRequestOut">
		<wsdl:part name="parameters" element="isbm:ReadRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoveRequestIn">
		<wsdl:part name="parameters" element="isbm:RemoveRequest"/>
	</wsdl:message>
	<wsdl:message name="RemoveRequestOut">
		<wsdl:part name="parameters" element="isbm:RemoveRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="PostResponseIn">
		<wsdl:part name="parameters" element="isbm:PostResponse"/>
	</wsdl:message>
	<wsdl:message name="PostResponseOut">
		<wsdl:part name="parameters" element="isbm:PostResponseResponse"/>
	</wsdl:message>
	<wsdl:message name="CloseProviderRequestSessionIn">
		<wsdl:part name="parameters" element="isbm:CloseProviderRequestSession"/>
	</wsdl:message>
	<wsdl:message name="CloseProviderRequestSessionOut">
		<wsdl:part name="parameters" element="isbm:CloseProviderRequestSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="ChannelFault">
		<wsdl:part name="parameters" element="isbm:ChannelFault"/>
	</wsdl:message>
	<wsdl:message name="DuplicateNamespacePrefixFault">
		<wsdl:part name="parameters" element="isbm:DuplicateNamespacePrefixFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidOperationFault">
		<wsdl:part name="parameters" element="isbm:InvalidOperationFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidSessionFault">
		<wsdl:part name="parameters" element="isbm:InvalidSessionFault"/>
	</wsdl:message>

	<wsdl:portType name="ISBMProviderRequestService">
		<wsdl:operation name="OpenProviderRequestSession">
			<wsdl:documentation>Opens a provider request session for a channel for reading requests and posting responses.</wsdl:documentation>
			<wsdl:input message="isbm:OpenProviderRequestSessionIn"/>
			<wsdl:output message="isbm:OpenProviderRequestSessionOut"/>
			<wsdl:fault name="ChannelFault" message="isbm:ChannelFault"/>
			<wsdl:fault name="InvalidOperationFault" message="isbm:InvalidOperationFault"/>
			<wsdl:fault name="DuplicateNamespacePrefixFault" message="isbm:DuplicateNamespacePrefixFault"/>
		</wsdl:operation>
		<wsdl:operation name="ReadRequest">
			<wsdl:documentation>Returns the first request message in the message queue for the session. Note: this service does not remove the message from the message queue.</wsdl:documentation>
			<wsdl:input message="isbm:ReadRequestIn"/>
			<wsdl:output message="isbm:ReadRequestOut"/>
			<wsdl:fault name="InvalidSessionFault" message="isbm:InvalidSessionFault"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveRequest">
			<wsdl:documentation>Deletes the first request message in the message queue for the session.</wsdl:documentation>
			<wsdl:input message="isbm:RemoveRequestIn"/>
			<wsdl:output message="isbm:RemoveRequestOut"/>
			<wsdl:fault name="InvalidSessionFault" message="isbm:InvalidSessionFault"/>
		</wsdl:operation>
		<wsdl:operation name="PostResponse">
			<wsdl:documentation>Posts a response message on a channel.</wsdl:documentation>
			<wsdl:input message="isbm:PostResponseIn"/>
			<wsdl:output message="isbm:PostResponseOut"/>
			<wsdl:fault name="InvalidSessionFault" message="isbm:InvalidSessionFault"/>
		</wsdl:operation>
		<wsdl:operation name="CloseProviderRequestSession">
			<wsdl:documentation>Closes a provider request session.</wsdl:documentation>
			<wsdl:input message="isbm:CloseProviderRequestSessionIn"/>
			<wsdl:output message="isbm:CloseProviderRequestSessionOut"/>
			<wsdl:fault name="InvalidSessionFault" message="isbm:InvalidSessionFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ISBMProviderRequestServiceSoap" type="isbm:ISBMProviderRequestService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OpenProviderRequestSession">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenProviderRequestSession" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOperationFault">
				<soap:fault name="InvalidOperationFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateNamespacePrefixFault">
				<soap:fault name="DuplicateNamespacePrefixFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ReadRequest">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveRequest">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="PostResponse">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/PostResponse" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CloseProviderRequestSession">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CloseProviderRequestSession" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ISBMProviderRequestServiceSoap12" type="isbm:ISBMProviderRequestService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OpenProviderRequestSession">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenProviderRequestSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOperationFault">
				<soap12:fault name="InvalidOperationFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateNamespacePrefixFault">
				<soap12:fault name="DuplicateNamespacePrefixFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ReadRequest">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadRequest" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap12:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveRequest">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveRequest" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap12:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="PostResponse">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/PostResponse" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap12:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CloseProviderRequestSession">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CloseProviderRequestSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap12:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ISBMProviderRequestService">
		<wsdl:port name="ISBMProviderRequestServiceSoap" binding="isbm:ISBMProviderRequestServiceSoap">
			<soap:address location="http://localhost/ISBMProviderRequestService"/>
		</wsdl:port>
		<wsdl:port name="ISBMProviderRequestServiceSoap12" binding="isbm:ISBMProviderRequestServiceSoap12">
			<soap12:address location="http://localhost/ISBMProviderRequestService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>