1-WSDL/ISBMNotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright MIMOSA 2012. All Rights Reserved.

	License information for this file is provided in the file "License Agreement.txt" that is provided with this download package.

	For support, more information, or to report errors, please contact MIMOSA at http://www.mimosa.org or OpenO&M at http://www.openoandm.info.
-->
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:isbm="http://www.openoandm.org/xml/ISBM/"
	targetNamespace="http://www.openoandm.org/xml/ISBM/"
	name="ISBMNotificationService">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/">
			<!-- Parameter elements -->

			<xs:element name="NotifyListener">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="TopicName" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NotifyListenerResponse">
				<xs:complexType/>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="NotifyListenerIn">
		<wsdl:part name="parameters" element="isbm:NotifyListener"/>
	</wsdl:message>
	<wsdl:message name="NotifyListenerOut">
		<wsdl:part name="parameters" element="isbm:NotifyListenerResponse"/>
	</wsdl:message>

	<wsdl:portType name="ISBMNotificationService">
		<wsdl:operation name="NotifyListener">
			<wsdl:documentation>Provides a notification of a new message being able to be read for a session. The Listener URI invoked was given when the application desiring notifications subscribed to the channel.</wsdl:documentation>
			<wsdl:input message="isbm:NotifyListenerIn"/>
			<wsdl:output message="isbm:NotifyListenerOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ISBMNotificationServiceSoap" type="isbm:ISBMNotificationService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NotifyListener">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/NotifyListener" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ISBMNotificationServiceSoap12" type="isbm:ISBMNotificationService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NotifyListener">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ISBMNotificationService">
		<wsdl:port name="ISBMNotifyListenerServiceSoap" binding="isbm:ISBMNotificationServiceSoap">
			<soap:address location="http://localhost/ISBMNotificationService"/>
		</wsdl:port>
		<wsdl:port name="ISBMNotificationServiceSoap12" binding="isbm:ISBMNotificationServiceSoap12">
			<soap12:address location="http://localhost/ISBMNotificationService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>