1-WSDL/ISBMConsumerPublicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright MIMOSA 2012. All Rights Reserved.

	License information for this file is provided in the file "License Agreement.txt" that is provided with this download package.

	For support, more information, or to report errors, please contact MIMOSA at http://www.mimosa.org or OpenO&M at http://www.openoandm.info.
-->
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.openoandm.org/xml/ISBM/"
	targetNamespace="http://www.openoandm.org/xml/ISBM/"
	name="ISBMConsumerPublicationService">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/">
			<!-- Types -->

			<xs:element name="MessageContent">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="PublicationMessage">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" ref="tns:MessageContent"/>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="TopicName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Namespace">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="NamespacePrefix" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="NamespaceName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<!-- Parameter elements -->

			<xs:element name="OpenSubscriptionSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" name="TopicName" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="ListenerURI" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="XPathExpression" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="XPathNamespace" type="tns:Namespace"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OpenSubscriptionSessionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadPublication">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="LastMessageID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadPublicationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="PublicationMessage" type="tns:PublicationMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CloseSubscriptionSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CloseSubscriptionSessionResponse">
				<xs:complexType/>
			</xs:element>

			<!-- Fault elements -->

			<xs:element name="ChannelFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DuplicateNamespacePrefixFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidOperationFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidSessionFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvalidTopicFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="OpenSubscriptionSessionIn">
		<wsdl:part name="parameters" element="tns:OpenSubscriptionSession"/>
	</wsdl:message>
	<wsdl:message name="OpenSubscriptionSessionOut">
		<wsdl:part name="parameters" element="tns:OpenSubscriptionSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="ReadPublicationIn">
		<wsdl:part name="parameters" element="tns:ReadPublication"/>
	</wsdl:message>
	<wsdl:message name="ReadPublicationOut">
		<wsdl:part name="parameters" element="tns:ReadPublicationResponse"/>
	</wsdl:message>
	<wsdl:message name="CloseSubscriptionSessionIn">
		<wsdl:part name="parameters" element="tns:CloseSubscriptionSession"/>
	</wsdl:message>
	<wsdl:message name="CloseSubscriptionSessionOut">
		<wsdl:part name="parameters" element="tns:CloseSubscriptionSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="ChannelFault">
		<wsdl:part name="parameters" element="tns:ChannelFault"/>
	</wsdl:message>
	<wsdl:message name="DuplicateNamespacePrefixFault">
		<wsdl:part name="parameters" element="tns:DuplicateNamespacePrefixFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidOperationFault">
		<wsdl:part name="parameters" element="tns:InvalidOperationFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidSessionFault">
		<wsdl:part name="parameters" element="tns:InvalidSessionFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidTopicFault">
		<wsdl:part name="parameters" element="tns:InvalidTopicFault"/>
	</wsdl:message>

	<wsdl:portType name="ISBMConsumerPublicationService">
		<wsdl:operation name="OpenSubscriptionSession">
			<wsdl:documentation>Opens a subscription session for a channel.</wsdl:documentation>
			<wsdl:input message="tns:OpenSubscriptionSessionIn"/>
			<wsdl:output message="tns:OpenSubscriptionSessionOut"/>
			<wsdl:fault name="ChannelFault" message="tns:ChannelFault"/>
			<wsdl:fault name="InvalidOperationFault" message="tns:InvalidOperationFault"/>
			<wsdl:fault name="InvalidTopicFault" message="tns:InvalidTopicFault"/>
			<wsdl:fault name="DuplicateNamespacePrefixFault" message="tns:DuplicateNamespacePrefixFault"/>
		</wsdl:operation>
		<wsdl:operation name="ReadPublication">
			<wsdl:documentation>Returns the first non-expired publication message (if any) after the specified last message (even if the specified last message has expired) for the session.</wsdl:documentation>
			<wsdl:input message="tns:ReadPublicationIn"/>
			<wsdl:output message="tns:ReadPublicationOut"/>
			<wsdl:fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
		</wsdl:operation>
		<wsdl:operation name="CloseSubscriptionSession">
			<wsdl:documentation>Closes a subscription session.</wsdl:documentation>
			<wsdl:input message="tns:CloseSubscriptionSessionIn"/>
			<wsdl:output message="tns:CloseSubscriptionSessionOut"/>
			<wsdl:fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ISBMConsumerPublicationServiceSoap" type="tns:ISBMConsumerPublicationService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OpenSubscriptionSession">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenSubscriptionSession" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOperationFault">
				<soap:fault name="InvalidOperationFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicFault">
				<soap:fault name="InvalidTopicFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateNamespacePrefixFault">
				<soap:fault name="DuplicateNamespacePrefixFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ReadPublication">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CloseSubscriptionSession">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CloseSubscriptionSession" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ISBMConsumerPublicationServiceSoap12" type="tns:ISBMConsumerPublicationService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OpenSubscriptionSession">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenSubscriptionSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOperationFault">
				<soap12:fault name="InvalidOperationFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicFault">
				<soap12:fault name="InvalidTopicFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateNamespacePrefixFault">
				<soap12:fault name="DuplicateNamespacePrefixFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ReadPublication">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap12:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CloseSubscriptionSession">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CloseSubscriptionSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidSessionFault">
				<soap12:fault name="InvalidSessionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ISBMConsumerPublicationService">
		<wsdl:port name="ISBMConsumerPublicationServiceSoap" binding="tns:ISBMConsumerPublicationServiceSoap">
			<soap:address location="http://localhost/ISBMConsumerPublicationService"/>
		</wsdl:port>
		<wsdl:port name="ISBMConsumerPublicationServiceSoap12" binding="tns:ISBMConsumerPublicationServiceSoap12">
			<soap12:address location="http://localhost/ISBMConsumerPublicationService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
