wsdl/ChannelManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
	ws-ISBM 1.0 Channel Management Service

	Copyright MIMOSA 2014. All Rights Reserved.
	License information for this file is provided in the file "LICENSE.txt" that is provided with this download package.

	For support, more information, or to report errors, please contact MIMOSA at http://www.mimosa.org/contact.
-->
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:isbm="http://www.openoandm.org/ws-isbm/"
	targetNamespace="http://www.openoandm.org/ws-isbm/"
	name="ChannelManagementService">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/ws-isbm/">
			<!-- Types -->
			<xs:simpleType name="ChannelType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Publication"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="SecurityToken">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Channel">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="isbm:ChannelType"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ChannelDescription" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<!-- Parameter elements -->
			<xs:element name="CreateChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="isbm:ChannelType"/>
						<xs:element minOccurs="0" maxOccurs="1" name="ChannelDescription" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" ref="isbm:SecurityToken"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateChannelResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="AddSecurityTokens">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" ref="isbm:SecurityToken"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddSecurityTokensResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="RemoveSecurityTokens">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" ref="isbm:SecurityToken"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveSecurityTokensResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="DeleteChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteChannelResponse">
				<xs:complexType/>
			</xs:element>
			<xs:element name="GetChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetChannelResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Channel" type="isbm:Channel"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetChannels">
				<xs:complexType/>
			</xs:element>
			<xs:element name="GetChannelsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" type="isbm:Channel"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<!-- Fault elements -->
			<xs:element name="ChannelFault">
				<xs:complexType/>
			</xs:element>
			<xs:element name="SecurityTokenFault">
				<xs:complexType/>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateChannelIn">
		<wsdl:part name="parameters" element="isbm:CreateChannel"/>
	</wsdl:message>
	<wsdl:message name="CreateChannelOut">
		<wsdl:part name="parameters" element="isbm:CreateChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="AddSecurityTokensIn">
		<wsdl:part name="parameters" element="isbm:AddSecurityTokens"/>
	</wsdl:message>
	<wsdl:message name="AddSecurityTokensOut">
		<wsdl:part name="parameters" element="isbm:AddSecurityTokensResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoveSecurityTokensIn">
		<wsdl:part name="parameters" element="isbm:RemoveSecurityTokens"/>
	</wsdl:message>
	<wsdl:message name="RemoveSecurityTokensOut">
		<wsdl:part name="parameters" element="isbm:RemoveSecurityTokensResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelIn">
		<wsdl:part name="parameters" element="isbm:DeleteChannel"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelOut">
		<wsdl:part name="parameters" element="isbm:DeleteChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="GetChannelIn">
		<wsdl:part name="parameters" element="isbm:GetChannel"/>
	</wsdl:message>
	<wsdl:message name="GetChannelOut">
		<wsdl:part name="parameters" element="isbm:GetChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="GetChannelsIn">
		<wsdl:part name="parameters" element="isbm:GetChannels"/>
	</wsdl:message>
	<wsdl:message name="GetChannelsOut">
		<wsdl:part name="parameters" element="isbm:GetChannelsResponse"/>
	</wsdl:message>
	<wsdl:message name="ChannelFault">
		<wsdl:part name="parameters" element="isbm:ChannelFault"/>
	</wsdl:message>
	<wsdl:message name="SecurityTokenFault">
		<wsdl:part name="parameters" element="isbm:SecurityTokenFault"/>
	</wsdl:message>

	<wsdl:portType name="ChannelManagementService">
		<wsdl:operation name="CreateChannel">
			<wsdl:documentation>Creates a new channel.</wsdl:documentation>
			<wsdl:input message="isbm:CreateChannelIn"/>
			<wsdl:output message="isbm:CreateChannelOut"/>
			<wsdl:fault name="ChannelFault" message="isbm:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="AddSecurityTokens">
			<wsdl:documentation>Adds security tokens to a channel.</wsdl:documentation>
			<wsdl:input message="isbm:AddSecurityTokensIn"/>
			<wsdl:output message="isbm:AddSecurityTokensOut"/>
			<wsdl:fault name="ChannelFault" message="isbm:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<wsdl:documentation>Removes security tokens from a channel.</wsdl:documentation>
			<wsdl:input message="isbm:RemoveSecurityTokensIn"/>
			<wsdl:output message="isbm:RemoveSecurityTokensOut"/>
			<wsdl:fault name="ChannelFault" message="isbm:ChannelFault"/>
			<wsdl:fault name="SecurityTokenFault" message="isbm:SecurityTokenFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<wsdl:documentation>Deletes a channel.</wsdl:documentation>
			<wsdl:input message="isbm:DeleteChannelIn"/>
			<wsdl:output message="isbm:DeleteChannelOut"/>
			<wsdl:fault name="ChannelFault" message="isbm:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetChannel">
			<wsdl:documentation>Gets information about a channel.</wsdl:documentation>
			<wsdl:input message="isbm:GetChannelIn"/>
			<wsdl:output message="isbm:GetChannelOut"/>
			<wsdl:fault name="ChannelFault" message="isbm:ChannelFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetChannels">
			<wsdl:documentation>Gets information about all channels.</wsdl:documentation>
			<wsdl:input message="isbm:GetChannelsIn"/>
			<wsdl:output message="isbm:GetChannelsOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ChannelManagementServiceSoap" type="isbm:ChannelManagementService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateChannel">
			<soap:operation soapAction="http://www.openoandm.org/ws-isbm/CreateChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddSecurityTokens">
			<soap:operation soapAction="http://www.openoandm.org/ws-isbm/AddSecurityTokens" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<soap:operation soapAction="http://www.openoandm.org/ws-isbm/RemoveSecurityTokens" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityTokenFault">
				<soap:fault name="SecurityTokenFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<soap:operation soapAction="http://www.openoandm.org/ws-isbm/DeleteChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannel">
			<soap:operation soapAction="http://www.openoandm.org/ws-isbm/GetChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannels">
			<soap:operation soapAction="http://www.openoandm.org/ws-isbm/GetChannels" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ChannelManagementServiceSoap12" type="isbm:ChannelManagementService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateChannel">
			<soap12:operation soapAction="http://www.openoandm.org/ws-isbm/CreateChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddSecurityTokens">
			<soap12:operation soapAction="http://www.openoandm.org/ws-isbm/AddSecurityTokens" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<soap12:operation soapAction="http://www.openoandm.org/ws-isbm/RemoveSecurityTokens" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityTokenFault">
				<soap12:fault name="SecurityTokenFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<soap12:operation soapAction="http://www.openoandm.org/ws-isbm/DeleteChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannel">
			<soap12:operation soapAction="http://www.openoandm.org/ws-isbm/GetChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChannelFault">
				<soap12:fault name="ChannelFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetChannels">
			<soap12:operation soapAction="http://www.openoandm.org/ws-isbm/GetChannels" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ChannelManagementService">
		<wsdl:port name="ChannelManagementServiceSoap" binding="isbm:ChannelManagementServiceSoap">
			<soap:address location="https://example.com/ChannelManagementService"/>
		</wsdl:port>
		<wsdl:port name="ChannelManagementServiceSoap12" binding="isbm:ChannelManagementServiceSoap12">
			<soap12:address location="http://example.com/ChannelManagementService12"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
