wsdl/2.0/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
	ISBM 2.0 Notification Service

	Copyright MIMOSA 2020. All Rights Reserved.
	License information for this file is provided in the file "LICENSE.txt" that is provided with this download package.

	For support, more information, or to report errors, please contact MIMOSA at http://www.mimosa.org/contact.
-->
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:isbm="http://www.openoandm.org/isbm/"
	targetNamespace="http://www.openoandm.org/isbm/"
	name="NotificationService">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/isbm/">
			<!-- Parameter elements -->
			<xs:element name="NotifyListener">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Topic" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NotifyListenerResponse">
				<xs:complexType/>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="NotifyListenerIn">
		<wsdl:part name="parameters" element="isbm:NotifyListener"/>
	</wsdl:message>
	<wsdl:message name="NotifyListenerOut">
		<wsdl:part name="parameters" element="isbm:NotifyListenerResponse"/>
	</wsdl:message>

	<wsdl:portType name="NotificationService">
		<wsdl:operation name="NotifyListener">
			<wsdl:documentation>Provides a notification of a new message being able to be read for a session. The Listener URI invoked was provided when the application desiring notifications subscribed to the channel.</wsdl:documentation>
			<wsdl:input message="isbm:NotifyListenerIn"/>
			<wsdl:output message="isbm:NotifyListenerOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="NotificationServiceSoap" type="isbm:NotificationService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NotifyListener">
			<soap:operation soapAction="http://www.openoandm.org/isbm/NotifyListener" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="NotificationServiceSoap12" type="isbm:NotificationService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NotifyListener">
			<soap12:operation soapAction="http://www.openoandm.org/isbm/NotifyListener" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="NotificationService">
		<wsdl:port name="NotifyListenerServiceSoap" binding="isbm:NotificationServiceSoap">
			<soap:address location="http://example.com/NotificationService"/>
		</wsdl:port>
		<wsdl:port name="NotificationServiceSoap12" binding="isbm:NotificationServiceSoap12">
			<soap12:address location="http://example.com/NotificationService12"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
