XSD/ISBM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.openoandm.org/xml/ISBM/"
           elementFormDefault="qualified"
           xmlns:isbm="http://www.openoandm.org/xml/ISBM/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Common types -->
  <xs:element name="MessageContent">
    <xs:complexType>
      <xs:sequence>
        <xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Namespace">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="NamespacePrefix" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="NamespaceName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Common faults elements -->
  <xs:element name="ChannelFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateNamespacePrefixFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidOperationFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidSessionFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidMessageFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ISBMChannelManagementService.wsdl XML Schema elements -->

  <!-- Types -->
  <xs:simpleType name="ChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Publication"/>
      <xs:enumeration value="Request"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="isbm:ChannelType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ChannelDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parameter elements -->
  <xs:element name="CreateChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="isbm:ChannelType"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ChannelDescription" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="isbm:SecurityToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="AddSecurityTokens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="isbm:SecurityToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSecurityTokensResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="RemoveSecurityTokens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="isbm:SecurityToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSecurityTokensResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="DeleteChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChannelResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GetChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Channel" type="isbm:Channel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannels">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GetChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" type="isbm:Channel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Fault elements -->
  <xs:element name="InvalidSecurityTokenFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ISBMNotificationService.wsdl XML Schema elements -->

  <xs:element name="NotifyListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="TopicName" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyListenerResponse">
    <xs:complexType/>
  </xs:element>

  <!-- ISBMProviderPublicationService.wsdl XML Schema elements -->

  <!-- Parameter elements -->
  <xs:element name="OpenPublicationSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenPublicationSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Topic" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="Expiry" type="xs:duration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpirePublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpirePublicationResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ClosePublicationSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosePublicationSessionResponse">
    <xs:complexType/>
  </xs:element>

  <!-- ISBMConsumerPublicationService.wsdl XML Schema elements -->

  <!-- Types -->
  <xs:complexType name="PublicationMessage">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parameter elements -->
  <xs:element name="OpenSubscriptionSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Topic" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ListenerURI" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="XPathExpression" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="XPathNamespace" type="isbm:Namespace"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenSubscriptionSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="LastMessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PublicationMessage" type="isbm:PublicationMessage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSubscriptionSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSubscriptionSessionResponse">
    <xs:complexType/>
  </xs:element>

  <!-- ISBMProviderRequestService.wsdl XML Schema elements -->

  <!-- Types -->
  <xs:complexType name="RequestMessage">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
      <xs:element minOccurs="1" maxOccurs="1" name="Topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parameter elements -->
  <xs:element name="OpenProviderRequestSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Topic" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ListenerURI" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="XPathExpression" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="XPathNamespace" type="isbm:Namespace"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenProviderRequestSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RequestMessage" type="isbm:RequestMessage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRequestResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseProviderRequestSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseProviderRequestSessionResponse">
    <xs:complexType/>
  </xs:element>

  <!-- ISBMConsumerRequestService.wsdl XML Schema elements -->

  <!-- Types -->
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parameter elements -->
  <xs:element name="OpenConsumerRequestSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChannelURI" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ListenerURI" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenConsumerRequestSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="isbm:MessageContent"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Topic" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="isbm:ResponseMessage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponseResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CloseConsumerRequestSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SessionID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseConsumerRequestSessionResponse">
    <xs:complexType/>
  </xs:element>

</xs:schema>
