2-WSDL/ISBMConsumerPublicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://www.openoandm.org/xml/ISBM/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  targetNamespace="http://www.openoandm.org/xml/ISBM/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/" >     
      <s:element name="TransactionStatus">
        <s:complexType>
	  <s:sequence>
	    <s:element minOccurs="1" maxOccurs="1" name="successOrErrorCriteria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="statusMessage" type="s:string" />
	  </s:sequence>
	</s:complexType>
      </s:element>      
      <s:element name="ReadPublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastMessageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublicationMessage">
          <s:complexType>
              <s:sequence>
                <s:any minOccurs="1" maxOccurs="1"  namespace="##any" processContents="lax" />
              </s:sequence>
          </s:complexType>
      </s:element>  
      <s:complexType name="ReadPublicationResponseType">
          <s:sequence>
		<s:element minOccurs="0" maxOccurs="1" name="topic" type="s:string" />
          	<s:element minOccurs="0" maxOccurs="1" ref="tns:PublicationMessage" />
          	<s:element minOccurs="0" maxOccurs="1" name="messageID" type="s:string" />
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      
      </s:complexType>           
      <s:element name="ReadPublicationResponse" type="tns:ReadPublicationResponseType" />
      <s:element name="SubscribePublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listenerURI" type="s:string" />
            <s:element minOccurs="1" maxOccurs="unbounded" name="topic" type="s:string" />
	    	<s:element minOccurs="0" maxOccurs="1" name="lastMessageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubscribePublicationResponseType">
          <s:sequence>
          	<s:element minOccurs="0" maxOccurs="1" name="channelSessionID" type="s:string" />
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="SubscribePublicationResponse" type="tns:SubscribePublicationResponseType" />
      <s:element name="UnsubscribePublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnsubscribePublicationResponseType">
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="UnsubscribePublicationResponse" type="tns:UnsubscribePublicationResponseType" />
      <s:element name="RemovePublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RemovePublicationResponseType">
          <s:sequence>          	
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      
      </s:complexType> 
      <s:element name="RemovePublicationResponse" type="tns:RemovePublicationResponseType" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadPublicationSoapIn">
    <wsdl:part name="parameters" element="tns:ReadPublication" />
  </wsdl:message>
  <wsdl:message name="ReadPublicationSoapOut">
    <wsdl:part name="parameters" element="tns:ReadPublicationResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribePublicationSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribePublication" />
  </wsdl:message>
  <wsdl:message name="SubscribePublicationSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribePublicationResponse" />
  </wsdl:message>
  <wsdl:message name="UnsubscribePublicationSoapIn">
    <wsdl:part name="parameters" element="tns:UnsubscribePublication" />
  </wsdl:message>
  <wsdl:message name="UnsubscribePublicationSoapOut">
    <wsdl:part name="parameters" element="tns:UnsubscribePublicationResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePublicationSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePublication" />
  </wsdl:message>
  <wsdl:message name="RemovePublicationSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePublicationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISBMConsumerPublicationServiceSoap">
    <wsdl:operation name="ReadPublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Read a publication message from a publication channel.</wsdl:documentation>
      <wsdl:input message="tns:ReadPublicationSoapIn" />
      <wsdl:output message="tns:ReadPublicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribePublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Subscribes to a channel for publication notifications.</wsdl:documentation>
      <wsdl:input message="tns:SubscribePublicationSoapIn" />
      <wsdl:output message="tns:SubscribePublicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unsubscribes to a channel for publication notifications.</wsdl:documentation>
      <wsdl:input message="tns:UnsubscribePublicationSoapIn" />
      <wsdl:output message="tns:UnsubscribePublicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove a specific publication message from a channel.</wsdl:documentation>
      <wsdl:input message="tns:RemovePublicationSoapIn" />
      <wsdl:output message="tns:RemovePublicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISBMConsumerPublicationServiceSoap" type="tns:ISBMConsumerPublicationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadPublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribePublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/SubscribePublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/UnsubscribePublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemovePublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISBMConsumerPublicationServiceSoap12" type="tns:ISBMConsumerPublicationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadPublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribePublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/SubscribePublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/UnsubscribePublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemovePublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISBMConsumerPublicationService">
    <wsdl:port name="ISBMConsumerPublicationServiceSoap" binding="tns:ISBMConsumerPublicationServiceSoap">
      <soap:address location="http://localhost:9080/ISBMConsumerPublicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISBMConsumerPublicationServiceSoap12" binding="tns:ISBMConsumerPublicationServiceSoap12">
      <soap12:address location="http://localhost:9080/ISBMConsumerPublicationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>