2-WSDL/ISBMNotifyListenerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://www.openoandm.org/xml/ISBM/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  targetNamespace="http://www.openoandm.org/xml/ISBM/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/" >
      <s:element name="TransactionStatus">
        <s:complexType>
	  <s:sequence>
	    <s:element minOccurs="1" maxOccurs="1" name="successOrErrorCriteria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="statusMessage" type="s:string" />
	  </s:sequence>
	</s:complexType>
      </s:element>      
      <s:element name="PublicationMessage">
          <s:complexType>
              <s:sequence>
                <s:any minOccurs="1" maxOccurs="1"  namespace="##any" processContents="lax" />
              </s:sequence>
          </s:complexType>
      </s:element>    
      <s:element name="NotifyListener">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:PublicationMessage" />
            <s:element minOccurs="1" maxOccurs="1" name="messageID" type="s:string" />  
            <s:element minOccurs="0" maxOccurs="1" name="requestmessageID" type="s:string" />  	    
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NotifyListenerResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="NotifyListenerResponse" type="tns:NotifyListenerResponseType" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifyListenerSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyListener" />
  </wsdl:message>
  <wsdl:message name="NotifyListenerSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyListenerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISBMNotifyListenerServiceSoap">
    <wsdl:operation name="NotifyListener">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Read a publication message from a publication channel.</wsdl:documentation>
      <wsdl:input message="tns:NotifyListenerSoapIn" />
      <wsdl:output message="tns:NotifyListenerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISBMNotifyListenerServiceSoap" type="tns:ISBMNotifyListenerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyListener">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/NotifyListener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISBMNotifyListenerServiceSoap12" type="tns:ISBMNotifyListenerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyListener">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISBMNotifyListenerService">
    <wsdl:port name="ISBMNotifyListenerServiceSoap" binding="tns:ISBMNotifyListenerServiceSoap">
      <soap:address location="http://localhost:9080/ISBMNotifyListenerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISBMNotifyListenerServiceSoap12" binding="tns:ISBMNotifyListenerServiceSoap12">
      <soap12:address location="http://localhost:9080/ISBMNotifyListenerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>