2-WSDL/ISBMProviderRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.openoandm.org/xml/ISBM/"
	targetNamespace="http://www.openoandm.org/xml/ISBM/">
	<wsdl:types>
		<xs:schema xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" targetNamespace="http://www.openoandm.org/xml/ISBM/" elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
			<xs:group name="TransactionStatus">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="SuccessOrErrorCriteria">
						<xs:annotation>
							<xs:documentation>The Success or Error Criteria flag. Values are 0=Success, 1=Error.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="1" maxOccurs="1" name="StatusMessage" type="xs:string"/>
				</xs:sequence>
			</xs:group>
			<xs:element name="CloseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CloseResponseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OpenResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" ref="wsse:SecurityTokenReference"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OpenResponseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="LastMessageID" type="xs:string"/>
						<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="RequestMessageID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="TopicID" type="xs:string"/>
						<xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostResponseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
						<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
						<xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax"/>
						<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscribeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" ref="wsse:SecurityTokenReference"/>
						<xs:element minOccurs="0" maxOccurs="1" name="ListenerURI" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="TopicID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscribeRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
							<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnsubscribeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="ChannelSessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnsubscribeRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:group minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CloseResponseIn">
		<wsdl:part name="parameters" element="tns:CloseResponse"/>
	</wsdl:message>
	<wsdl:message name="CloseResponseOut">
		<wsdl:part name="parameters" element="tns:CloseResponseResponse"/>
	</wsdl:message>
	<wsdl:message name="OpenResponseIn">
		<wsdl:part name="parameters" element="tns:OpenResponse"/>
	</wsdl:message>
	<wsdl:message name="OpenResponseOut">
		<wsdl:part name="parameters" element="tns:OpenResponseResponse"/>
	</wsdl:message>
	<wsdl:message name="PostResponseIn">
		<wsdl:part name="parameters" element="tns:PostResponse"/>
	</wsdl:message>
	<wsdl:message name="PostResponseOut">
		<wsdl:part name="parameters" element="tns:PostResponseResponse"/>
	</wsdl:message>
	<wsdl:message name="ReadRequestIn">
		<wsdl:part name="parameters" element="tns:ReadRequest"/>
	</wsdl:message>
	<wsdl:message name="ReadRequestOut">
		<wsdl:part name="parameters" element="tns:ReadRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoveRequestIn">
		<wsdl:part name="parameters" element="tns:RemoveRequest"/>
	</wsdl:message>
	<wsdl:message name="RemoveRequestOut">
		<wsdl:part name="parameters" element="tns:RemoveRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="SubscribeRequestIn">
		<wsdl:part name="parameters" element="tns:SubscribeRequest"/>
	</wsdl:message>
	<wsdl:message name="SubscribeRequestOut">
		<wsdl:part name="parameters" element="tns:SubscribeRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="UnsubscribeRequestIn">
		<wsdl:part name="parameters" element="tns:UnsubscribeRequest"/>
	</wsdl:message>
	<wsdl:message name="UnsubscribeRequestOut">
		<wsdl:part name="parameters" element="tns:UnsubscribeRequestResponse"/>
	</wsdl:message>
	<wsdl:portType name="ISBMProviderRequestServiceSoap">
		<wsdl:operation name="CloseResponse">
			<wsdl:documentation>Closes a request channel from posting of response messages.</wsdl:documentation>
			<wsdl:input message="tns:CloseResponseIn"/>
			<wsdl:output message="tns:CloseResponseOut"/>
		</wsdl:operation>
		<wsdl:operation name="OpenResponse">
			<wsdl:documentation>Determines if a Request Channel exists and returns the channel ID. Opens the request channel for posting of response messages.</wsdl:documentation>
			<wsdl:input message="tns:OpenResponseIn"/>
			<wsdl:output message="tns:OpenResponseOut"/>
		</wsdl:operation>
		<wsdl:operation name="PostResponse">
			<wsdl:documentation>Posts a response message to a request channel.</wsdl:documentation>
			<wsdl:input message="tns:PostResponseIn"/>
			<wsdl:output message="tns:PostResponseOut"/>
		</wsdl:operation>
		<wsdl:operation name="ReadRequest">
			<wsdl:documentation>Reads a request message that matches the subscribed topics from a request channel.</wsdl:documentation>
			<wsdl:input message="tns:ReadRequestIn"/>
			<wsdl:output message="tns:ReadRequestOut"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveRequest">
			<wsdl:documentation>Removes the specified message from the request channel queue.</wsdl:documentation>
			<wsdl:input message="tns:RemoveRequestIn"/>
			<wsdl:output message="tns:RemoveRequestOut"/>
		</wsdl:operation>
		<wsdl:operation name="SubscribeRequest">
			<wsdl:documentation>Subscribes to a request channel to read requests.</wsdl:documentation>
			<wsdl:input message="tns:SubscribeRequestIn"/>
			<wsdl:output message="tns:SubscribeRequestOut"/>
		</wsdl:operation>
		<wsdl:operation name="UnsubscribeRequest">
			<wsdl:documentation>Unsubscribes to a channel for request notifications.</wsdl:documentation>
			<wsdl:input message="tns:UnsubscribeRequestIn"/>
			<wsdl:output message="tns:UnsubscribeRequestOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ISBMProviderRequestServiceSoap" type="tns:ISBMProviderRequestServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CloseResponse">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CloseResponse" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpenResponse">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenResponse" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PostResponse">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/PostResponse" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadRequest">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemoveRequest">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeRequest">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/SubscribeRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnsubscribeRequest">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/UnsubscribeRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ISBMProviderRequestServiceSoap12" type="tns:ISBMProviderRequestServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CloseResponse">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CloseResponse" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpenResponse">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenResponse" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PostResponse">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/PostResponse" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadRequest">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadRequest" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemoveRequest">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveRequest" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeRequest">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/SubscribeRequest" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnsubscribeRequest">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/UnsubscribeRequest" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ISBMProviderRequestService">
		<wsdl:port name="ISBMProviderRequestServiceSoap" binding="tns:ISBMProviderRequestServiceSoap">
			<soap:address location="http://localhost:49283/ISBMProviderRequestService.asmx"/>
		</wsdl:port>
		<wsdl:port name="ISBMProviderRequestServiceSoap12" binding="tns:ISBMProviderRequestServiceSoap12">
			<soap12:address location="http://localhost:49283/ISBMProviderRequestService.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>