2-WSDL/ISBMConsumerPublicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:tns="http://www.openoandm.org/xml/ISBM/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.openoandm.org/xml/ISBM/">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/" >
			<xs:element name="TransactionStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="successOrErrorCriteria" type="xs:string" />
						<xs:element minOccurs="1" maxOccurs="1" name="statusMessage" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReadPublication">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="xs:string" />
						<xs:element minOccurs="0" maxOccurs="1" name="lastMessageID" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PublicationMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="1" maxOccurs="1" namespace="##any" processContents="lax" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ReadPublicationResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="topic" type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1" ref="tns:PublicationMessage" />
					<xs:element minOccurs="0" maxOccurs="1" name="messageID" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ReadPublicationResponse" type="tns:ReadPublicationResponseType" />
			<xs:element name="SubscribePublication">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string" />
						<xs:element minOccurs="0" maxOccurs="1" name="listenerURI" type="xs:string" />
						<xs:element minOccurs="1" maxOccurs="unbounded" name="topic" type="xs:string" />
						<xs:element minOccurs="0" maxOccurs="1" name="lastMessageID" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="SubscribePublicationResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="channelSessionID" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscribePublicationResponse" type="tns:SubscribePublicationResponseType" />
			<xs:element name="UnsubscribePublication">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="UnsubscribePublicationResponseType">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="UnsubscribePublicationResponse" type="tns:UnsubscribePublicationResponseType" />
			<xs:element name="RemovePublication">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="xs:string" />
						<xs:element minOccurs="1" maxOccurs="1" name="messageID" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="RemovePublicationResponseType">
				<xs:sequence> 	
					<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="RemovePublicationResponse" type="tns:RemovePublicationResponseType" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ReadPublicationSoapIn">
		<wsdl:part name="parameters" element="tns:ReadPublication" />
	</wsdl:message>
	<wsdl:message name="ReadPublicationSoapOut">
		<wsdl:part name="parameters" element="tns:ReadPublicationResponse" />
	</wsdl:message>
	<wsdl:message name="SubscribePublicationSoapIn">
		<wsdl:part name="parameters" element="tns:SubscribePublication" />
	</wsdl:message>
	<wsdl:message name="SubscribePublicationSoapOut">
		<wsdl:part name="parameters" element="tns:SubscribePublicationResponse" />
	</wsdl:message>
	<wsdl:message name="UnsubscribePublicationSoapIn">
		<wsdl:part name="parameters" element="tns:UnsubscribePublication" />
	</wsdl:message>
	<wsdl:message name="UnsubscribePublicationSoapOut">
		<wsdl:part name="parameters" element="tns:UnsubscribePublicationResponse" />
	</wsdl:message>
	<wsdl:message name="RemovePublicationSoapIn">
		<wsdl:part name="parameters" element="tns:RemovePublication" />
	</wsdl:message>
	<wsdl:message name="RemovePublicationSoapOut">
		<wsdl:part name="parameters" element="tns:RemovePublicationResponse" />
	</wsdl:message>
	<wsdl:portType name="ISBMConsumerPublicationServiceSoap">
		<wsdl:operation name="ReadPublication">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Read a publication message from a publication channel.</wsdl:documentation>
			<wsdl:input message="tns:ReadPublicationSoapIn" />
			<wsdl:output message="tns:ReadPublicationSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SubscribePublication">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Subscribes to a channel for publication notifications.</wsdl:documentation>
			<wsdl:input message="tns:SubscribePublicationSoapIn" />
			<wsdl:output message="tns:SubscribePublicationSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="UnsubscribePublication">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unsubscribes to a channel for publication notifications.</wsdl:documentation>
			<wsdl:input message="tns:UnsubscribePublicationSoapIn" />
			<wsdl:output message="tns:UnsubscribePublicationSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="RemovePublication">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove a specific publication message from a channel.</wsdl:documentation>
			<wsdl:input message="tns:RemovePublicationSoapIn" />
			<wsdl:output message="tns:RemovePublicationSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ISBMConsumerPublicationServiceSoap" type="tns:ISBMConsumerPublicationServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReadPublication">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribePublication">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/SubscribePublication" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnsubscribePublication">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/UnsubscribePublication" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemovePublication">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemovePublication" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ISBMConsumerPublicationServiceSoap12" type="tns:ISBMConsumerPublicationServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReadPublication">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ReadPublication" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribePublication">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/SubscribePublication" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnsubscribePublication">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/UnsubscribePublication" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemovePublication">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemovePublication" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ISBMConsumerPublicationService">
		<wsdl:port name="ISBMConsumerPublicationServiceSoap" binding="tns:ISBMConsumerPublicationServiceSoap">
			<soap:address location="http://localhost:9080/ISBMConsumerPublicationService.asmx" />
		</wsdl:port>
		<wsdl:port name="ISBMConsumerPublicationServiceSoap12" binding="tns:ISBMConsumerPublicationServiceSoap12">
			<soap12:address location="http://localhost:9080/ISBMConsumerPublicationService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>