2-WSDL/ISBMChannelManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://www.openoandm.org/xml/ISBM/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  targetNamespace="http://www.openoandm.org/xml/ISBM/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/" >     
      <s:element name="TransactionStatus">
        <s:complexType>
	  		<s:sequence>
	    		<s:element minOccurs="1" maxOccurs="1" name="successOrErrorCriteria" type="s:string" />
            	<s:element minOccurs="1" maxOccurs="1" name="statusMessage" type="s:string" />
	  		</s:sequence>
		</s:complexType>
      </s:element>
      <s:element name="AssignSecurityTokens">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AssignSecurityTokensResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="AssignSecurityTokensResponse" type="tns:AssignSecurityTokensResponseType" />
      <s:element name="CreateChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="channelType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateChannelResponseType">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="CreateChannelResponse" type="tns:CreateChannelResponseType" />
      <s:element name="DeleteChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeleteChannelResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="DeleteChannelResponse" type="tns:DeleteChannelResponseType" />
      <s:element name="RemoveSecurityTokens">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RemoveSecurityTokensResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="RemoveSecurityTokensResponse" type="tns:RemoveSecurityTokensResponseType" />   
      <s:element name="GetAllChannels">
		<s:complexType>
		</s:complexType>
      </s:element>
      <s:complexType name="GetAllChannelsResponseType">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>
      </s:complexType>
      <s:element name="GetAllChannelsResponse" type="tns:GetAllChannelsResponseType" />
      <s:element name="GetChannelInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>
        </s:complexType>      
      </s:element>
      <s:complexType name="GetChannelInfoResponseType">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channelType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="topic" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>
      <s:element name="GetChannelInfoResponse" type="tns:GetChannelInfoResponseType" />    
      <s:element name="CreateChannelNamespace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prefix" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="namespace" type="s:string" />
          </s:sequence>
        </s:complexType>      
      </s:element> 
      <s:complexType name="CreateChannelNamespaceResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>      
      <s:element name="CreateChannelNamespaceResponse" type="tns:CreateChannelNamespaceResponseType" />   
      <s:element name="DeleteChannelNamespace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prefix" type="s:string" />
          </s:sequence>
        </s:complexType>      
      </s:element> 
      <s:complexType name="DeleteChannelNamespaceResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>      
      <s:element name="DeleteChannelNamespaceResponse" type="tns:DeleteChannelNamespaceResponseType" />      
      <s:element name="CreateTopic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xpathDefinition" type="s:string" />
          </s:sequence>
        </s:complexType>      
      </s:element> 
      <s:complexType name="CreateTopicResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>           
      <s:element name="CreateTopicResponse" type="tns:CreateTopicResponseType" />
      <s:element name="DeleteTopic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:string" />
          </s:sequence>        
        </s:complexType>      
      </s:element> 
      <s:complexType name="DeleteTopicResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>  
      <s:element name="DeleteTopicResponse" type="tns:DeleteTopicResponseType" />
      <s:element name="GetAllTopics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>        
        </s:complexType>      
      </s:element>      
      <s:complexType name="GetAllTopicsResponseType">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="topic" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>
      <s:element name="GetAllTopicsResponse" type="tns:GetAllTopicsResponseType" />
      <s:element name="GetTopicInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:string" />
          </s:sequence>        
        </s:complexType>      
      </s:element>    
         <s:complexType name="GetTopicInfoResponseType">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="topic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xpathDefinition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>        
        </s:complexType>        
      <s:element name="GetTopicInfoResponse" type="tns:GetTopicInfoResponseType" />  
      <s:element name="GetAllSessions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>        
        </s:complexType>      
      </s:element>      
      <s:complexType name="GetAllSessionsResponseType">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="channelSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      	
      </s:complexType>
      <s:element name="GetAllSessionsResponse" type="tns:GetAllSessionsResponseType" />
      <s:element name="GetSessionInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
          </s:sequence>        
        </s:complexType>      
      </s:element>    
         <s:complexType name="GetSessionInfoResponseType">
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="topic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listenerURI" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>        
        </s:complexType>        
      <s:element name="GetSessionInfoResponse" type="tns:GetSessionInfoResponseType" />       
     </s:schema>
  </wsdl:types>
  <wsdl:message name="AssignSecurityTokensSoapIn">
    <wsdl:part name="parameters" element="tns:AssignSecurityTokens" />
  </wsdl:message>
  <wsdl:message name="AssignSecurityTokensSoapOut">
    <wsdl:part name="parameters" element="tns:AssignSecurityTokensResponse" />
  </wsdl:message>
  <wsdl:message name="CreateChannelSoapIn">
    <wsdl:part name="parameters" element="tns:CreateChannel" />
  </wsdl:message>
  <wsdl:message name="CreateChannelSoapOut">
    <wsdl:part name="parameters" element="tns:CreateChannelResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChannelSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChannel" />
  </wsdl:message>
  <wsdl:message name="DeleteChannelSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChannelResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSecurityTokensSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveSecurityTokens" />
  </wsdl:message>
  <wsdl:message name="RemoveSecurityTokensSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveSecurityTokensResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllChannelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllChannels" />
  </wsdl:message>
  <wsdl:message name="GetAllChannelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelInfo" />
  </wsdl:message>
  <wsdl:message name="GetChannelInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateChannelNamespaceSoapIn">
    <wsdl:part name="parameters" element="tns:CreateChannelNamespace" />
  </wsdl:message>
  <wsdl:message name="CreateChannelNamespaceSoapOut">
    <wsdl:part name="parameters" element="tns:CreateChannelNamespaceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChannelNamespaceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChannelNamespace" />
  </wsdl:message>
  <wsdl:message name="DeleteChannelNamespaceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChannelNamespaceResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTopicSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTopic" />
  </wsdl:message>
  <wsdl:message name="CreateTopicSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTopicResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTopicSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTopic" />
  </wsdl:message>
  <wsdl:message name="DeleteTopicSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTopicResponse" />
  </wsdl:message>  
  <wsdl:message name="GetAllTopicsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTopics" />
  </wsdl:message>
  <wsdl:message name="GetAllTopicsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopicInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopicInfo" />
  </wsdl:message>
  <wsdl:message name="GetTopicInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopicInfoResponse" />
  </wsdl:message>  
  <wsdl:message name="GetAllSessionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSessions" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSessionsResponse" />
  </wsdl:message> 
  <wsdl:message name="GetSessionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionInfo" />
  </wsdl:message>
  <wsdl:message name="GetSessionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISBMChannelManagementServiceSoap">
    <wsdl:operation name="AssignSecurityTokens">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Assigns security tokens to a channel. Return an error if the channel ID does not match an existing channel.</wsdl:documentation>
      <wsdl:input message="tns:AssignSecurityTokensSoapIn" />
      <wsdl:output message="tns:AssignSecurityTokensSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateChannel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates an ISBM channel.  If the channel already exists, then the ID is returned.</wsdl:documentation>
      <wsdl:input message="tns:CreateChannelSoapIn" />
      <wsdl:output message="tns:CreateChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes an ISBM channel.</wsdl:documentation>
      <wsdl:input message="tns:DeleteChannelSoapIn" />
      <wsdl:output message="tns:DeleteChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSecurityTokens">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes security tokens from a channel.</wsdl:documentation>
      <wsdl:input message="tns:RemoveSecurityTokensSoapIn" />
      <wsdl:output message="tns:RemoveSecurityTokensSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChannels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all the channels.</wsdl:documentation>
      <wsdl:input message="tns:GetAllChannelsSoapIn" />
      <wsdl:output message="tns:GetAllChannelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about a channel.</wsdl:documentation>
      <wsdl:input message="tns:GetChannelInfoSoapIn" />
      <wsdl:output message="tns:GetChannelInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateChannelNamespace">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a channel Xpath prefix association to a namespace for use in a topic xpath definition.</wsdl:documentation>
      <wsdl:input message="tns:CreateChannelNamespaceSoapIn" />
      <wsdl:output message="tns:CreateChannelNamespaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChannelNamespace">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a channel namespace.</wsdl:documentation>
      <wsdl:input message="tns:DeleteChannelNamespaceSoapIn" />
      <wsdl:output message="tns:DeleteChannelNamespaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTopic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a topic for a channel.</wsdl:documentation>
      <wsdl:input message="tns:CreateTopicSoapIn" />
      <wsdl:output message="tns:CreateTopicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a topic from a channel.</wsdl:documentation>
      <wsdl:input message="tns:DeleteTopicSoapIn" />
      <wsdl:output message="tns:DeleteTopicSoapOut" />
    </wsdl:operation>    
    <wsdl:operation name="GetAllTopics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all topics for a channel.</wsdl:documentation>
      <wsdl:input message="tns:GetAllTopicsSoapIn" />
      <wsdl:output message="tns:GetAllTopicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about a topic.</wsdl:documentation>
      <wsdl:input message="tns:GetTopicInfoSoapIn" />
      <wsdl:output message="tns:GetTopicInfoSoapOut" />
    </wsdl:operation>  
    <wsdl:operation name="GetAllSessions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all the sessions associated with a channel.</wsdl:documentation>
      <wsdl:input message="tns:GetAllSessionsSoapIn" />
      <wsdl:output message="tns:GetAllSessionsSoapOut" />
    </wsdl:operation> 
    <wsdl:operation name="GetSessionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about a session.</wsdl:documentation>
      <wsdl:input message="tns:GetSessionInfoSoapIn" />
      <wsdl:output message="tns:GetSessionInfoSoapOut" />
    </wsdl:operation>     
  </wsdl:portType>
  <wsdl:binding name="ISBMChannelManagementServiceSoap" type="tns:ISBMChannelManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignSecurityTokens">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/AssignSecurityTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannel">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSecurityTokens">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveSecurityTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChannels">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelInfo">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannelInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannelNamespace">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannelNamespace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannelNamespace">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannelNamespace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTopic">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="GetAllTopics">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicInfo">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetTopicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>   
    <wsdl:operation name="GetAllSessions">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>  
    <wsdl:operation name="GetSessionInfo">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetSessionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>     
  </wsdl:binding>
  <wsdl:binding name="ISBMChannelManagementServiceSoap12" type="tns:ISBMChannelManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignSecurityTokens">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/AssignSecurityTokens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannel">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSecurityTokens">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveSecurityTokens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChannels">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllChannels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelInfo">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannelInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannelNamespace">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannelNamespace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannelNamespace">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannelNamespace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTopic">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="GetAllTopics">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllTopics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicInfo">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetTopicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>  
    <wsdl:operation name="GetAllSessions">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllSessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="GetSessionInfo">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetSessionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>     
  </wsdl:binding>
  <wsdl:service name="ISBMChannelManagementService">
    <wsdl:port name="ISBMChannelManagementServiceSoap" binding="tns:ISBMChannelManagementServiceSoap">
      <soap:address location="http://localhost:9080/ISBMChannelManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISBMChannelManagementServiceSoap12" binding="tns:ISBMChannelManagementServiceSoap12">
      <soap12:address location="http://localhost:9080/ISBMChannelManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>