2-WSDL/ISBMProviderPublicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://www.openoandm.org/xml/ISBM/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  targetNamespace="http://www.openoandm.org/xml/ISBM/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/" >   
      <s:element name="TransactionStatus">
        <s:complexType>
	  <s:sequence>
	    <s:element minOccurs="1" maxOccurs="1" name="successOrErrorCriteria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="statusMessage" type="s:string" />
	  </s:sequence>
	</s:complexType>
      </s:element>       
      <s:element name="ClosePublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClosePublicationResponseType">
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      
      </s:complexType> 
      <s:element name="ClosePublicationResponse" type="tns:ClosePublicationResponseType" />
      <s:element name="OpenPublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>   
      <s:complexType name="OpenPublicationResponseType">
          <s:sequence>          	
          	<s:element minOccurs="0" maxOccurs="1" name="channelSessionID" type="s:string" />
		<s:element minOccurs="0" maxOccurs="1" name="lastMessageID" type="s:string" />
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      
      </s:complexType>  
      <s:element name="OpenPublicationResponse" type="tns:OpenPublicationResponseType" /> 	  
      <s:element name="PublicationMessage">
          <s:complexType>
              <s:sequence>
                <s:any minOccurs="1" maxOccurs="1"  namespace="##any" processContents="lax" />
              </s:sequence>
          </s:complexType>
      </s:element>      
      <s:element name="PostPublication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" ref="tns:PublicationMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PostPublicationResponseType">
          <s:sequence>          	
          	<s:element minOccurs="0" maxOccurs="1" name="messageID" type="s:string" />
          	<s:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus" />
          </s:sequence>      
      </s:complexType> 
      <s:element name="PostPublicationResponse" type="tns:PostPublicationResponseType" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClosePublicationSoapIn">
    <wsdl:part name="parameters" element="tns:ClosePublication" />
  </wsdl:message>
  <wsdl:message name="ClosePublicationSoapOut">
    <wsdl:part name="parameters" element="tns:ClosePublicationResponse" />
  </wsdl:message>
  <wsdl:message name="OpenPublicationSoapIn">
    <wsdl:part name="parameters" element="tns:OpenPublication" />
  </wsdl:message>
  <wsdl:message name="OpenPublicationSoapOut">
    <wsdl:part name="parameters" element="tns:OpenPublicationResponse" />
  </wsdl:message>
  <wsdl:message name="PostPublicationSoapIn">
    <wsdl:part name="parameters" element="tns:PostPublication" />
  </wsdl:message>
  <wsdl:message name="PostPublicationSoapOut">
    <wsdl:part name="parameters" element="tns:PostPublicationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISBMProviderPublicationServiceSoap">
    <wsdl:operation name="ClosePublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Closes a publication channel from posting of messages.</wsdl:documentation>
      <wsdl:input message="tns:ClosePublicationSoapIn" />
      <wsdl:output message="tns:ClosePublicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenPublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Determines if a publication Channel exists and returns the channel ID. Opens the publication channel for posting of publication messages.</wsdl:documentation>
      <wsdl:input message="tns:OpenPublicationSoapIn" />
      <wsdl:output message="tns:OpenPublicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostPublication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Posts a publication message to a publication channel.</wsdl:documentation>
      <wsdl:input message="tns:PostPublicationSoapIn" />
      <wsdl:output message="tns:PostPublicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISBMProviderPublicationServiceSoap" type="tns:ISBMProviderPublicationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClosePublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/ClosePublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenPublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPublication">
      <soap:operation soapAction="http://www.openoandm.org/xml/ISBM/PostPublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISBMProviderPublicationServiceSoap12" type="tns:ISBMProviderPublicationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClosePublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/ClosePublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/OpenPublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPublication">
      <soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/PostPublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISBMProviderPublicationService">
    <wsdl:port name="ISBMProviderPublicationServiceSoap" binding="tns:ISBMProviderPublicationServiceSoap">
      <soap:address location="http://localhost:9080/ISBMProviderPublicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISBMProviderPublicationServiceSoap12" binding="tns:ISBMProviderPublicationServiceSoap12">
      <soap12:address location="http://localhost:9080/ISBMProviderPublicationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>