2-WSDL/ISBMChannelManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.openoandm.org/xml/ISBM/"
	targetNamespace="http://www.openoandm.org/xml/ISBM/"
	name="ISBMChannelManagementService">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.openoandm.org/xml/ISBM/">
			<xs:element name="TransactionStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="successOrErrorCriteria">
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="1" maxOccurs="1" name="statusMessage" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:simpleType name="ChannelType">
				<xs:restriction base="xs:integer">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="AssignSecurityTokens">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="channelID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssignSecurityTokensResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelName" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="channelType" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateChannelResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteChannel">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteChannelResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveSecurityTokens">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveSecurityTokensResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllChannels">
				<xs:complexType>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllChannelsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetChannelInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetChannelInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="channelName" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="channelType" type="tns:ChannelType"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="topic" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateChannelNamespace">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="namespacePrefix" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="namespaceURL" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateChannelNamespaceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteChannelNamespace">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="namespacePrefix" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteChannelNamespaceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTopic">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="topic" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="xPathDefinition" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTopicResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteTopic">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="topic" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteTopicResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllTopics">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllTopicsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="topic" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTopicInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" name="topic" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="GetTopicInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="channelID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="topic" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="xPathDefinition" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllSessions">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllSessionsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="channelSessionID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSessionInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelSessionID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSessionInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="channelSessionType" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="topic" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="listenerURI" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="1" ref="tns:TransactionStatus"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AssignSecurityTokensIn">
		<wsdl:part name="parameters" element="tns:AssignSecurityTokens"/>
	</wsdl:message>
	<wsdl:message name="AssignSecurityTokensOut">
		<wsdl:part name="parameters" element="tns:AssignSecurityTokensResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateChannelIn">
		<wsdl:part name="parameters" element="tns:CreateChannel"/>
	</wsdl:message>
	<wsdl:message name="CreateChannelOut">
		<wsdl:part name="parameters" element="tns:CreateChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelIn">
		<wsdl:part name="parameters" element="tns:DeleteChannel"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelOut">
		<wsdl:part name="parameters" element="tns:DeleteChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoveSecurityTokensIn">
		<wsdl:part name="parameters" element="tns:RemoveSecurityTokens"/>
	</wsdl:message>
	<wsdl:message name="RemoveSecurityTokensOut">
		<wsdl:part name="parameters" element="tns:RemoveSecurityTokensResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllChannelsIn">
		<wsdl:part name="parameters" element="tns:GetAllChannels"/>
	</wsdl:message>
	<wsdl:message name="GetAllChannelsOut">
		<wsdl:part name="parameters" element="tns:GetAllChannelsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetChannelInfoIn">
		<wsdl:part name="parameters" element="tns:GetChannelInfo"/>
	</wsdl:message>
	<wsdl:message name="GetChannelInfoOut">
		<wsdl:part name="parameters" element="tns:GetChannelInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateChannelNamespaceIn">
		<wsdl:part name="parameters" element="tns:CreateChannelNamespace"/>
	</wsdl:message>
	<wsdl:message name="CreateChannelNamespaceOut">
		<wsdl:part name="parameters" element="tns:CreateChannelNamespaceResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelNamespaceIn">
		<wsdl:part name="parameters" element="tns:DeleteChannelNamespace"/>
	</wsdl:message>
	<wsdl:message name="DeleteChannelNamespaceOut">
		<wsdl:part name="parameters" element="tns:DeleteChannelNamespaceResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateTopicIn">
		<wsdl:part name="parameters" element="tns:CreateTopic"/>
	</wsdl:message>
	<wsdl:message name="CreateTopicOut">
		<wsdl:part name="parameters" element="tns:CreateTopicResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteTopicIn">
		<wsdl:part name="parameters" element="tns:DeleteTopic"/>
	</wsdl:message>
	<wsdl:message name="DeleteTopicOut">
		<wsdl:part name="parameters" element="tns:DeleteTopicResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllTopicsIn">
		<wsdl:part name="parameters" element="tns:GetAllTopics"/>
	</wsdl:message>
	<wsdl:message name="GetAllTopicsOut">
		<wsdl:part name="parameters" element="tns:GetAllTopicsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTopicInfoIn">
		<wsdl:part name="parameters" element="tns:GetTopicInfo"/>
	</wsdl:message>
	<wsdl:message name="GetTopicInfoOut">
		<wsdl:part name="parameters" element="tns:GetTopicInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllSessionsIn">
		<wsdl:part name="parameters" element="tns:GetAllSessions"/>
	</wsdl:message>
	<wsdl:message name="GetAllSessionsOut">
		<wsdl:part name="parameters" element="tns:GetAllSessionsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSessionInfoIn">
		<wsdl:part name="parameters" element="tns:GetSessionInfo"/>
	</wsdl:message>
	<wsdl:message name="GetSessionInfoOut">
		<wsdl:part name="parameters" element="tns:GetSessionInfoResponse"/>
	</wsdl:message>
	<wsdl:portType name="ISBMChannelManagementService">
		<wsdl:operation name="AssignSecurityTokens">
			<wsdl:documentation>Assigns security tokens to a channel. Return an error if the channel ID does not match an existing channel.</wsdl:documentation>
			<wsdl:input message="tns:AssignSecurityTokensIn"/>
			<wsdl:output message="tns:AssignSecurityTokensOut"/>
		</wsdl:operation>
		<wsdl:operation name="CreateChannel">
			<wsdl:documentation>Creates an ISBM channel. If the channel already exists, then the ID is returned.</wsdl:documentation>
			<wsdl:input message="tns:CreateChannelIn"/>
			<wsdl:output message="tns:CreateChannelOut"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<wsdl:documentation>Deletes an ISBM channel.</wsdl:documentation>
			<wsdl:input message="tns:DeleteChannelIn"/>
			<wsdl:output message="tns:DeleteChannelOut"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<wsdl:documentation>Removes security tokens from a channel.</wsdl:documentation>
			<wsdl:input message="tns:RemoveSecurityTokensIn"/>
			<wsdl:output message="tns:RemoveSecurityTokensOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllChannels">
			<wsdl:documentation>Get all the channels.</wsdl:documentation>
			<wsdl:input message="tns:GetAllChannelsIn"/>
			<wsdl:output message="tns:GetAllChannelsOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetChannelInfo">
			<wsdl:documentation>Get information about a channel.</wsdl:documentation>
			<wsdl:input message="tns:GetChannelInfoIn"/>
			<wsdl:output message="tns:GetChannelInfoOut"/>
		</wsdl:operation>
		<wsdl:operation name="CreateChannelNamespace">
			<wsdl:documentation>Create a channel XPath prefix association to a namespace for use in a topic XPath definition.</wsdl:documentation>
			<wsdl:input message="tns:CreateChannelNamespaceIn"/>
			<wsdl:output message="tns:CreateChannelNamespaceOut"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannelNamespace">
			<wsdl:documentation>Delete a channel namespace.</wsdl:documentation>
			<wsdl:input message="tns:DeleteChannelNamespaceIn"/>
			<wsdl:output message="tns:DeleteChannelNamespaceOut"/>
		</wsdl:operation>
		<wsdl:operation name="CreateTopic">
			<wsdl:documentation>Create a topic for a channel.</wsdl:documentation>
			<wsdl:input message="tns:CreateTopicIn"/>
			<wsdl:output message="tns:CreateTopicOut"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteTopic">
			<wsdl:documentation>Deletes a topic from a channel.</wsdl:documentation>
			<wsdl:input message="tns:DeleteTopicIn"/>
			<wsdl:output message="tns:DeleteTopicOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllTopics">
			<wsdl:documentation>Get all topics for a channel.</wsdl:documentation>
			<wsdl:input message="tns:GetAllTopicsIn"/>
			<wsdl:output message="tns:GetAllTopicsOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetTopicInfo">
			<wsdl:documentation>Get information about a topic.</wsdl:documentation>
			<wsdl:input message="tns:GetTopicInfoIn"/>
			<wsdl:output message="tns:GetTopicInfoOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllSessions">
			<wsdl:documentation>Get all the sessions associated with a channel.</wsdl:documentation>
			<wsdl:input message="tns:GetAllSessionsIn"/>
			<wsdl:output message="tns:GetAllSessionsOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSessionInfo">
			<wsdl:documentation>Get information about a session.</wsdl:documentation>
			<wsdl:input message="tns:GetSessionInfoIn"/>
			<wsdl:output message="tns:GetSessionInfoOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ISBMChannelManagementServiceSoap" type="tns:ISBMChannelManagementService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AssignSecurityTokens">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/AssignSecurityTokens" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateChannel">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveSecurityTokens" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllChannels">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllChannels" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetChannelInfo">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannelInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateChannelNamespace">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannelNamespace" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannelNamespace">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannelNamespace" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTopic">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateTopic" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteTopic">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteTopic" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllTopics">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllTopics" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopicInfo">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetTopicInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSessions">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllSessions" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSessionInfo">
			<soap:operation soapAction="http://www.openoandm.org/xml/ISBM/GetSessionInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ISBMChannelManagementServiceSoap12" type="tns:ISBMChannelManagementService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AssignSecurityTokens">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/AssignSecurityTokens" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateChannel">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannel">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannel" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemoveSecurityTokens">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/RemoveSecurityTokens" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllChannels">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllChannels" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetChannelInfo">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetChannelInfo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateChannelNamespace">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateChannelNamespace" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteChannelNamespace">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteChannelNamespace" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTopic">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/CreateTopic" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteTopic">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/DeleteTopic" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllTopics">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllTopics" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopicInfo">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetTopicInfo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSessions">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetAllSessions" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSessionInfo">
			<soap12:operation soapAction="http://www.openoandm.org/xml/ISBM/GetSessionInfo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ISBMChannelManagementService">
		<wsdl:port name="ISBMChannelManagementServiceSoap" binding="tns:ISBMChannelManagementServiceSoap">
			<soap:address location="http://localhost/ISBMChannelManagementService"/>
		</wsdl:port>
		<wsdl:port name="ISBMChannelManagementServiceSoap12" binding="tns:ISBMChannelManagementServiceSoap12">
			<soap12:address location="http://localhost/ISBMChannelManagementService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
